* {
    margin: 0;
    padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	background: #fff;
    font-family: 'Open Sans', 'Sans-serif';
    font-size: 16px;
    
}

.contenedor {
	width: 90%;
	max-width: 1000px;
    margin: auto;
    overflow: hidden;
}
/*-----------header-------*/

header {
	background: url('../Assets/img/bg.jpg') #49a3d6;
    background-repeat: no-repeat;
    background-position: 0%;
    max-height: 600px;
}

header .menu {
margin: 40px 0;
text-align: right;
}

header .menu a {
    margin: 0px 20px;
    color: white;
    padding-bottom: 9px;
    font-size: 1em;
    display: inline-block;
    text-decoration: none;
    border-bottom: 5px solid transparent;
    }

header .menu a:hover {
    border-bottom: 5px solid white;

}

header .contenedor-texto {
    display: flex;
    margin: 190px 0;
    justify-content: center;
    align-content: center;
}

header .contenedor-texto .texto {
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 3px;
    display: inline-block;
    text-align: center;
    padding: 20px 60px;
}

header .contenedor-texto .texto  h1,
header .contenedor-texto .texto  h2 {
   color: #fff; 
   font-weight: 300;
   margin: 0;
}

header .contenedor-texto .texto .nombre {
   margin-bottom: 10px;
   font-size: 50px;
   line-height: 50px;
}

header .contenedor-texto .texto .profesion {
    font-size: 25px;
    line-height: 25px;
 
 }
span {
  font-weight:900;
  color: #3c38c3;


}

 .iconostec {
  display: flex;
  justify-content: space-between;
  margin-bottom: -10px;
  margin-top: 10px;
  margin-right: -10px;
 margin-left:  -10px;
 padding-block: -10px;

}

.icotec:hover {-webkit-transform:scale(1.3);transform:scale(2.0);
cursor:default;}




 /*-----------main-------*/
.main .contenedor {
   overflow: visible;
}

.main .acerca-de {
    text-align: center;
}

.main .acerca-de .foto {
   margin-top: -60px;
   order: 1;
   border-radius: 10px;
}

.main .acerca-de .foto img {
   vertical-align: top;
   border-radius: 50%;
   border: 5px solid rgba(255, 255, 255, 0.2) 
 }


 .main .acerca-de .texto {
    color: #5a5a5a;
    font-weight: 600;
    font-size: 1em;
    line-height: 30px;
    width: 80%;
    margin: 40px auto 60px auto;
  }
  
.main .acerca-de .texto .titulo {
    font-size: 34px;
    line-height: 34px;
    margin-bottom: 40px;
    font-weight: 600;
    color: #3c38c3;
    text-align: center;
  }

.main .acerca-de .texto .bold {
   color: #3895ea;
   text-decoration: underline;
  }

 /*-----------section trabajos-------*/

.main .trabajos {
   background-color: #f9f8f8;
   padding: 30px 0;
   }
.main .trabajos .contenedor {
    overflow: hidden;
    }
.main .trabajos .titulo {
        font-size: 34px;
        line-height: 34px;
        margin-bottom: 40px;
        font-weight: 600;
        color: #323068;
        text-align: center;
}
.main .trabajos .contenedor-trabajos {
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-between;
}

.main .trabajos .contenedor-trabajos .trabajo {
    width: 23%;
    margin-bottom: 40px;
    }
.main .trabajos .contenedor-trabajos .trabajo .thumb {
    width: 100%;
    margin-top: 8px;
    }
.main .trabajos .contenedor-trabajos .trabajo .thumb img {
    width: 85%;
    vertical-align: top;
    border-radius: 5px;
     
}

.main .trabajos .contenedor-trabajos .trabajo .thumb img:hover 
{-webkit-transform:scale(1.3);transform:scale(1.3);}

.main .trabajos .contenedor-trabajos .trabajo .descripcion {
    text-align: center;
}

.main .trabajos .contenedor-trabajos .trabajo .descripcion .nombre {
    font-weight: 700;
    color: #3895ea;
    margin-bottom: 10px;
}

.main .trabajos .contenedor-trabajos .trabajo .descripcion .categoria {
    font-size: 14px;
    color: #636363;
}

/*-----------footer-------*/
footer .contacto {
    padding: 20px 0;
    background-color: #f4f4f4;
}

footer .contacto .titulo {
    font-size: 34px;
    line-height: 34px;
    margin-bottom: 40px;
    font-weight: 600;
    color: #3895ea;
    text-align: center;
}

footer .contacto .formulario {
    display: flex;
   flex-wrap: wrap;
    justify-content: space-between;
}

footer .contacto .formulario input[type="text"],
footer .contacto .formulario input[type="email"],
footer .contacto .formulario textarea {
    border: 2px solid #cecece;
    border-radius: 5px;
    padding: 15px 20px;
    font-size: 20px
    color #a4a4a4
}

footer .contacto .formulario input[type="text"]:focus,
footer .contacto .formulario input[type="email"]:focus,
footer .contacto .formulario textarea:focus {
    border: 2px solid #3895ea;
}

footer .contacto .formulario input[type="text"],
footer .contacto .formulario input[type="email"] {
    width: 48%;
    margin-bottom: 15px;
}

footer .contacto .formulario textarea {
    width: 100%;
    height: 100px;  
    max-width: 100%;
    min-width: 100%;
    min-height: 100px;
    max-height: 300px;
    margin-bottom: 15px;

}
footer .contacto .formulario .boton {
    margin: auto;
    font-weight:600;
    background: #3895ea;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 15px 40px;
    cursor: pointer;
}

footer .contacto .formulario .boton:hover {
  background: #17567b;
}
/*-----------footer redes-------*/

footer .redes-sociales {
    
    padding: 10px 0; 
    margin: 10px;
  

}
    footer .redes-sociales .contenedor {
      display: flex;
      justify-content: space-around;
    
    }

    .icord:hover {-webkit-transform:scale(1.3);transform:scale(1.5)};

  
  /* ----- ----- MEDIA QUERIES ----- ----- */
@media screen and (max-width: 800px) {
    header .menu {
      text-align: center; }
  
    .main .trabajos .contenedor-trabajos .trabajo {
      width: 46%; } }
  @media screen and (max-width: 500px) {
    header .contenedor-texto .texto .nombre {
      font-size: 35px; }
    header .contenedor-texto .texto .profesion {
      font-size: 18px; }
  
    footer .redes-sociales .contenedor {
      flex-wrap: wrap; }
      footer .redes-sociales .contenedor a {
        padding: 20px; } }
  
